<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title>User page</title>
</head>
<body>
  <h1> Welcome to Ninitebot's Prototype Website </h1>
  <p> To the <a href="localhost:3001/settings" target="_blank">settings</a> webpage </p>
</body>
</html>  