<!DOCTYPE html>  
<html>  
<head>
  <meta charset="utf-8">
  <title>User page</title>
</head>
<body>
  <h1> Command Name: <%= commandName %> </h1>
  <h2> Finished: <%= info.finished %> </h2>
  <h2> Admin Only: <%= info.admin %> </h2>
</body>
</html>  